* {
    margin: 0;
    padding: 0;
}

:root {
    --big: 300px;
    --title: 80px;
    --text: 25px;
    --large: 500px;
    --medium: 150px;
    --menu: 30px;
    --small: 40px
}

.container {
    margin: 10% 1%;
}

.title {
    font-weight: bold;
    font-size: var(--medium);
}

.container>a>img {
    border-radius: 50%;
    height: var(--large);
    float: left;
    margin-left: 2%;
    box-shadow: 15px 15px 25px black;
}

.container>table {
    height: var(--big);
    width: var(--large);
    font-size: var(--small);
    text-align: center;
    float: right;
    margin-right: 4%;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: white;

}

.menu {
    font-size: var(--menu);
    background-color: rgb(4, 188, 40);
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 7%;
    padding: 1% 0 0 1%;
    box-shadow: 2px 2px 38px black;
    text-align: center;

}

.menu>table {
    font-size: var(--menu);
    margin: 0 auto 0 auto;
    width: var(--large);
    text-align: center;

}

.testo {
    font-size: var(--text);
    margin: 6% 0 2% 0.2%;
    height: 20%;
    width: 60%;
    text-align: justify;
    background-color: rgb(85, 200, 125);
    padding: 0 1% 0 1%;
    box-shadow: 6px 6px 15px black;

}

.img>img{
    margin: 6% 3% 0 0;
    float: right;
    height: 280px;
    border-radius: 10%;
    box-shadow: 8px 8px 15px black;
}